<br />
<div [@flipState]="flip">
  <h3 (mouseenter)="enterm()" [ngStyle]="{'text-align':'center','color':'blue'}">Our Services</h3>
</div>

<br/>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="33%" fxLayoutGap="32px">
      <app-threecolmatgrid [iconname]="icons[0]" [title] = "titles[0]" [color]= "colors[0]"
          [description]="'We design web application with most modern tool like Angular and nodejs'">
      </app-threecolmatgrid>

    </div>
    <div fxFlex="33%">
        <app-threecolmatgrid [iconname]="icons[1]" [title] = "titles[1]" [color]= "colors[1]"
          [description]="'We design Mobile application with flutter and durt for cross platform application'">
        </app-threecolmatgrid>
      </div>
      <div fxFlex="33%">
          <app-threecolmatgrid [iconname]="icons[2]" [title] = "titles[2]" [color]= "colors[2]"
            [description]="'We design desktop application with .net framework and wps'">
          </app-threecolmatgrid>
      </div>
</div>
<br/><br/>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="33%">
        <app-threecolmatgrid [iconname]="icons[3]" [title] = "titles[3]" [color]= "colors[3]"
          [description]="'We design and make PCB of multiple layer in local and chiness market and we also develop high power application'">
        </app-threecolmatgrid>
    </div>
    <div fxFlex="33%">
        <app-threecolmatgrid [iconname]="icons[4]" [title] = "titles[4]" [color]= "colors[4]"
          [description]="'We provide fingerprint reader with customized software and geade-1 CCTV Camera for offive Application'">
        </app-threecolmatgrid>
    </div>
    <div fxFlex="33%">
        <app-threecolmatgrid [iconname]="icons[5]" [title] = "titles[5]" [color]= "colors[5]"
          [description]="'We develop microcontroller based system. Our expertise is in PIC,AVR,ARM,ARDUINO'">
        </app-threecolmatgrid>
    </div>
</div>


<br />

