<br />
<div >
  <h3  style="text-align: center;color: navy;font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Clients</h3>
</div>
<section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Clients</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Couple of our most valuable clients and mentor</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../../../assets/images/bcsir.jpg" alt=""></div>
            <h4>Rupesh Chandra Roy</h4>
            <span>Director pp&pdc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../../../assets/images/quote_sign_left.png" alt=""></b> Intricate Lab has some of the dynamic workers i have seen. They have the one stop solution for product design that I was looking for. I wish them all the best. <small><img src="../../../assets/images/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../../../assets/images/quote_sign_left.png" alt=""></b> IntricateLab members has been long standing partner for atomic energy commission Bangladesh. They have a great microcontroller development & software development team . <small><img src="../../../assets/images/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../../../assets/images/BAEC.jpg" alt=""></div>
            <h4>Mahbubul Haq</h4>
            <span>Director</span>
          </div>
        </div>
      </div>

    </div>
  </section>
