<br /><br />
<div class="container row">
    <div class="col-md-3" >
        <app-sidenav></app-sidenav>
    </div>
    <div class="col-md-9">
  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-table [dataSource]="AllElement" multiTemplateDataRows class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="productname">
          <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
          <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.productname}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="producttitle">
          <mat-header-cell *matHeaderCellDef> Product Title </mat-header-cell>
          <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.producttitle}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productgroup">
          <mat-header-cell *matHeaderCellDef> Product Groupe </mat-header-cell>
          <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.productgroup}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productmeta">
          <mat-header-cell *matHeaderCellDef> Product Meta </mat-header-cell>
          <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.productmeta}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
          <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let AllElement" (click)="$event.stopPropagation()">
            <button mat-button color="warn" (click)="onDelete(AllElement.Id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button color="warn" (click)="onUpdate(AllElement.Id)">
              <mat-icon>update</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row style="background-color:black" *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
    </div>
    </div>
  </div>
</div>
<br />
<br />


