<mat-toolbar style="height:35px !important;font-size:smaller;margin-top:0px !important;padding-top:0 !important;margin-bottom:0px !important;padding-bottom:0 !important">
  <mat-icon>call</mat-icon> <a href="#"> +8801719086713 </a> &nbsp;&nbsp;
  <mat-icon>location_on</mat-icon><a href="#">House-12, Mirpur:10, Dhaka-1216</a>
  <span class="example-fill-remaining-space"></span>
  <a href="#">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="#" class="mx-3">

    <i class="fab fa-youtube-square"></i>
  </a>
  <a href="#" class="mx-3">
    <i class="fab fa-linkedin"></i>
  </a>
</mat-toolbar>
