
  <nav class='sticky navbar navbar-expand-xl  navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow 'style="margin-bottom:0px !important;padding-bottom:0 !important">
    <a class="navbar-brand" style="color:yellow;font-weight:bolder" [routerLink]='["/"]'>Udayan Group</a>
    <button class="navbar-toggler" type="button"  (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow-0">
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-light" style="font-size:14px" [routerLink]='["/"]'>Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-light" style="font-size:14px" [routerLink]='["/viewproduct"]'>Products</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-light" style="font-size:14px" [routerLink]='["/services"]'>Service</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-light" style="font-size:14px" [routerLink]='["/clients"]'>Client</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-light" style="font-size:14px" [routerLink]='["/aboutus"]'>About Us</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-light" style="font-size:14px" [routerLink]='["/contactus"]'>Contact Us</a>
        </li>

      </ul>
    </div>
</nav>

