.descStyle{
    background-color:whitesmoke;text-align:justify;font-size: small
}
.btnStyle{
    width:70px;height:70px;background-color:Highlight;
}
.titleStyle{
    font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large
}