

  <div style="text-align:center">
    <h3 style="color:darkturquoise;font-weight:bolder;font-family:Tahoma">
      Please Login
    </h3>
  </div>

  <div fxLayoutAlign="center">
    <mat-card class="my-card mat-elevation-z8" style="color:black" color="accent">
      <mat-card-content>
        <form class="my-form" [formGroup]="Forms">
          <mat-form-field  class="full-width">
            <mat-label >Email</mat-label>
            <input  matInput placeholder="Email"  name="email" formControlName="username">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" formControlName="password">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button (click)="FormSubmit()" color="accent" [disabled]="!Forms.valid">LOGIN</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br/> <br/>
  <div style="text-align:center">
    <a href="http://localhost:8086/api/oauth" mat-raised-button color="accent" style="color: red" >
      <mat-icon>web</mat-icon>
       Login With Gmail
    </a>

  </div>

