<section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
        Meet our team
      </h2>
      <div class="row">
          <div class="col-4">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Asif Rahman</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/images/ali.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  CEO & Software Developer
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-button href="https://www.facebook.com/intricatelab/"><i class="fa fa-facebook"></i></a>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
  
          <div class="col-4">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Asif Rahman</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/images/ali.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  CEO & Software Developer
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-button href="https://www.facebook.com/intricatelab/"><i class="fa fa-facebook"></i></a>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
  
  
          <div class="col-4">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Asif Rahman</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/images/asif.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  CEO & Software Developer
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-button href="https://www.facebook.com/intricatelab/"><i class="fa fa-facebook"></i></a>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
  
        </div>
    </div>
  </section>
  
  