    <!-- Sidebar -->

  <div id="viewport">
    <div  id="sidebar" >
        <header>
            <a href="#">Administrator</a>
        </header>

          <li class="nav">
            <a class="nav-link" [routerLink]='["/admin/productcreate"]'><i><mat-icon aria-hidden="false">home</mat-icon></i> Add Product</a>
          </li>
          <li class="nav">
            <a class="nav-link" [routerLink]='["/admin/productlist"]'><i><mat-icon aria-hidden="false">assessment</mat-icon></i>Product List</a>
          </li>
          <li class="nav">
            <a class="nav-link" [routerLink]='["/admin/productgroupcreate"]'><i><mat-icon aria-hidden="false">book</mat-icon></i>Add Product Group</a>
          </li>
          <li class="nav">
            <a class="nav-link" [routerLink]='["/admin/productgrouplist"]'><i><mat-icon aria-hidden="false">date_range</mat-icon></i>Product Group List</a>
          </li>
          <li class="nav">
            <a class="nav-link" [routerLink]='["/admin/logout"]' ><i><mat-icon aria-hidden="false">input</mat-icon></i>Logout</a>
          </li>

    </div>
  </div>

