    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" style="background-color:black">
        <div class="sidebar-heading" style="color: blue">Administrator </div>
        <div class="list-group list-group-flush">
          <a [routerLink]='["/admin/productcreate"]' class="list-group-item list-group-item-action">Add Product</a>
          <a [routerLink]='["/admin/productlist"]' class="list-group-item list-group-item-action ">Product List</a>
          <a [routerLink]='["/admin/productgroupcreate"]' class="list-group-item list-group-item-action">Add Product Group</a>
          <a [routerLink]='["/admin/productgrouplist"]' class="list-group-item list-group-item-action">Product Group List</a>
          <a [routerLink]='["/admin/logout"]' class="list-group-item list-group-item-action">Logout</a>
        </div>
      </div>
